.cr-search-form {
  position: relative;
  margin : 0px 16px 0px 8px;
  

  &__icon-search {
    position: absolute;
    left: 8px;
  }

  &__input {
    /* stylelint-disable-next-line */
    padding-left: 35px !important;
  }
}
